<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>http://40.89.191.130</sonar.host.url>
                <sonar.login>admin</sonar.login>
                <sonar.password>KfSI5kcGtzXy</sonar.password>
            </properties>
        </profile>
     </profiles>

	<servers>
		<server>
            <id>azure-auth</id>
            <configuration>
                <client>7352734d-0211-4247-8546-9bdb355dd44c</client>
                <tenant>f3e5cecd-4974-4653-827d-82626ea5f9ce</tenant>
                <key>Recito@h4213</key>
                <environment>AZURE</environment>
            </configuration>
		</server>
	</servers>
</settings>
